<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.txt"
      throwExceptions="false">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\ProgramData\NesService\Logs\${shortdate}.txt"
				layout="${longdate} ${level:uppercase=true} [${logger}] ${message} ${exception:format=tostring}"
				keepFileOpen="false"
				encoding="utf-8"
				createDirs="true" />

		<!-- Windows Event Log target -->
		<target name="eventlog" xsi:type="EventLog"
				source="NesService"
				log="Application"
				layout="${message}" />

		<target name="debugger" xsi:type="Debugger"
				layout="${time} ${level:uppercase=true}: ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<logger name="*" minlevel="Warn" writeTo="eventlog" />

		<logger name="*" minlevel="Debug" writeTo="debugger" />
	</rules>
</nlog>